html {
    background-color:white;
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background: white;
}


/* My code */
#map {
    height: 100%; 
    width: 100%; 
    position:absolute; 
    top: 0; 
    left: 0; 
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}


#demo {
    position: absolute;
    z-index: 1;
    font-size: 250%;
    
    background-color: #F0F0F5;
    font-family: "Helvetica";

    margin-left: -50px;
    left: 32%;
    top: 45%;
    margin-top: -50px;

    padding: 0.5em;
    box-shadow: -5px 5px 3px;
    border-radius: 5px;

    opacity: 10%;
}

#myText {
    color: black;
    width: 220px;
    background: #F5F5F5;
}

#myButton {
    font-size: 50%;
}


#panels {
    position: absolute;
    z-index: 1; /* The z-index should be higher than Google Maps */
    height: 100%;
    width: 30%;
    
    top: 0px;
    right: 0px;
    bottom: 0px;

    padding: 0.5em;

    border-radius: 5px;
    
    background: #F0F0F5; 
    box-shadow: -2px 0px 2px white;

    overflow: auto;
    overflow-y:scroll;
}

#place-name {
    position:relative;


    text-align: center;
    text-transform: uppercase;
    font-family: "Helvetica";

    font-size: 3vw;

    background-color: #696969;
    color: #F0F0F5;
    border-radius: 2%;
}

#panels img {
    position:relative;

    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    height: 30%;

    max-width: 800px;
    max-height:550px;

    
}

#description {
    overflow: auto;
    overflow-y:scroll;
    padding: 1em 0em;
    font-family: "Helvetica";
    font-size: 1vw;
    letter-spacing: 0.05em;
    height: 40%;

}



.selector {
    
    border-radius: 50%;
    width: 80px;
    height: 80px; 

    position: absolute;
    vertical-align: middle;
    top: 88%;
}

#like {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
    background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
    background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
    background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
    background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
    background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
    background-color:#77d42a;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    
    cursor:pointer;
    color:white;
    font-size:19px;
    font-weight:bold;
    padding:24px 24px;
    text-decoration:none;
    text-shadow:1px 2px 0px #aade7c;

    right: 30%;

}

#like:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
    background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
    background-color:#5cb811;
}

#dislike {
    
    -moz-box-shadow:inset 0px 1px 0px 0px #276873;
    -webkit-box-shadow:inset 0px 1px 0px 0px #276873;
    box-shadow:inset 0px 1px 0px 0px #276873;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad1d1d), color-stop(1, #ed0c0c));
    background:-moz-linear-gradient(top, #ad1d1d 5%, #ed0c0c 100%);
    background:-webkit-linear-gradient(top, #ad1d1d 5%, #ed0c0c 100%);
    background:-o-linear-gradient(top, #ad1d1d 5%, #ed0c0c 100%);
    background:-ms-linear-gradient(top, #ad1d1d 5%, #ed0c0c 100%);
    background:linear-gradient(to bottom, #ad1d1d 5%, #ed0c0c 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad1d1d', endColorstr='#ed0c0c',GradientType=0);
    background-color:#ad1d1d;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    
    cursor:pointer;
    color:white;
    font-size:19px;
    font-weight:bold;
    padding:24px 24px;
    text-decoration:none;
    text-shadow:1px 2px 0px #990000;


    left: 30%;
    
}

#dislike:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ed0c0c), color-stop(1, #7d2323));
    background:-moz-linear-gradient(top, #ed0c0c 5%, #7d2323 100%);
    background:-webkit-linear-gradient(top, #ed0c0c 5%, #7d2323 100%);
    background:-o-linear-gradient(top, #ed0c0c 5%, #7d2323 100%);
    background:-ms-linear-gradient(top, #ed0c0c 5%, #7d2323 100%);
    background:linear-gradient(to bottom, #ed0c0c 5%, #7d2323 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed0c0c', endColorstr='#7d2323',GradientType=0);
    background-color:#ed0c0c;
}

#schedule {
    position: relative;
    overflow: scroll;
    height: 85vh;
}

.head {
    border-bottom: 0.1em solid gray;
    width: 90%;
}