.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background: white;
}


/* My code */
#map {
    height: 100%; 
    width: 100%; 
    position:absolute; 
    top: 0; 
    left: 0; 
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#panels {
    position: relative; 
    z-index: 1; /* The z-index should be higher than Google Maps */
    height: 100vh;
    width: 35%;
    margin: 0px 0px 0px;
    float: right;
    padding: 20px;
    background: white;
    color: black;    
}

#place-name {
    text-align: center;
    text-transform: uppercase;
    font-family: "Helvetica";
    font-weight: strong;
    font-size: 50px;

    background-color: black;
    color: white;
}

#panels img {
    max-height: 450px;
    max-width: 450px;
    padding-bottom: 1em;
}

#description {
    max-height: 20em;
    overflow-y: scroll;
    padding: 1em 0em;
    border-top: 0.1em solid gray;
    margin-top: 0.8em;
    font-family: "Helvetica";

}

.selector {
    position: absolute;
    top: 15em;
    background: white;
    box-shadow: 0.2em 0.2em 0.5em gray;
    border-radius: 2em;
    height: 2em;
    width: 10em;
    padding: 0.4em;
}

#like {
    left: 3%;
    top: 102%;
    background: #00CC00;

}

#dislike {
    right: 3%;
    top: 102%;
    background: #B20000;
}

#schedule {
    position: relative;
    overflow: scroll;
    height: 85vh;
}

.head {
    border-bottom: 0.1em solid gray;
    width: 90%;
}
