
<html>

<div>
  <div id="map"></div>
  <!-- Module -->
  <div id="panels" ng-switch="moduleState">
    <!-- This is the view where we are swiping through the events -->
    <div ng-switch-when="survey">
      <p id="place-name">{{ place.name }}</p>

      <img ng-src="{{ place.img }}"></img>

      <div id="description"><p>{{ place.description }}</p>
      </div>

      <div id="dislike" class="selector" ng-click="toggleDislike()"><center><span class="glyphicon glyphicon-remove"></span></center>
      </div>

      <div id="like" class="selector" ng-click="toggleLike()"><center><span class="glyphicon glyphicon-heart-empty"></span></center>
      </div>
    </div>
    <!-- This is the itinerary view -->
    <div ng-switch-when="itinerary">
      <h2>Itinerary:</h2>
      <!--Navbar header-->
      <nav class="navbar navbar-default navbar-static" id="itinNavbar">
        <div class="container-fluid">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="#day1">Day 1</a>
              </li>
              <li>
                <a href="#day2">Day 2</a>
              </li>
              <li>
                <a href="#day3">Day 3</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      </div>
      <div id="schedule" data-spy="scroll" data-target="#itinNavbar">
        <h3 id="day1">Day 1</h3>
        <h4>{{ day1Morning.name }}</h4>
        <p>{{ day1Morning.description }}</p>
        <h4>{{ day1Lunch.name }}</h4>
        <p>{{ day1Lunch.description }}</p>
        
        <h3 id="day2">Day 2</h3>
        <h4>{{ day1Morning.name }}</h4>
        <p>{{ day1Morning.description }}</p>
        <h4>{{ day1Lunch.name }}</h4>
        <p>{{ day1Lunch.description }}</p>

        <h3 id="day3">Day 3</h3>
        <h4>{{ day1Morning.name }}</h4>
        <p>{{ day1Morning.description }}</p>
        <h4>{{ day1Lunch.name }}</h4>
        <p>{{ day1Lunch.description }}</p>
      </div>
    </div>
  </div>
  <div id="map"></div>

</div>
</html>
