
<html>

<div>

  <div id="map"></div>


  <div id="demo">Enter your city: <input type="text" id="myText" placeholder="Chicago">
      <center><button id="myButton" onclick="myFunction()">Let's go!</button></center>
      <script>
      function myFunction() {
        $( "div" ).remove( "#demo" );
      }
      </script>

  </div>


  <!-- Module -->
  <div id="panels" ng-switch="moduleState">
    <!-- This is the view where we are swiping through the events -->
    <div ng-switch-when="survey">
      <p id="place-name">{{ place.name }}</p>

      <img ng-src="{{ place.img }}"></img>

      <div id="description"><p>{{ place.description }}</p>
      </div>

      <div id="dislike" class="selector" ng-click="toggleDislike()"><center><span class="glyphicon glyphicon-remove"></span></center>
      </div>

      <div id="like" class="selector" ng-click="toggleLike()"><center><span class="glyphicon glyphicon-heart-empty"></span></center>
      </div>
    </div>
    <!-- This is the itinerary view -->
    <div ng-switch-when="itinerary">
      <h2>Itinerary:</h2>
      
      <div id="schedule">
        <div class="head"><h3>Day 1</h3></div>
        <div class="event">
          <h4>Morning | {{ day1Morning.name }}</h4>
          <p>{{ day1Morning.description }}</p>
        </div>
        <div class="event">
          <h4>Lunch | {{ day1Lunch.name }}</h4>
          <p>{{ day1Lunch.description }}</p>
        </div>
        <div class="event">
          <h4>Afternoon | {{ day1Afternoon.name }}</h4>
          <p>{{ day1Afternoon.description }}</p>
        </div>
        <div class="event">
          <h4>Dinner | {{ day1Dinner.name }}</h4>
          <p>{{ day1Dinner.description }}</p>
        </div>
        <div class="event">
          <h4>Evening | {{ day1Evening.name }}</h4>
          <p>{{ day1Evening.description }}</p>
        </div>

        <div class="head"><h3>Day 2</h3></div>
        <div class="event">
          <h4>{{ day1Morning.name }}</h4>
          <p>{{ day1Morning.description }}</p>
        </div>
        <div class="event">
          <h4>{{ day1Lunch.name }}</h4>
          <p>{{ day1Lunch.description }}</p>
        </div>

        <div class="head"><h3>Day 3</h3></div>
        <div class="event">
          <h4>{{ day1Morning.name }}</h4>
          <p>{{ day1Morning.description }}</p>
        </div>
        <div class="event">
          <h4>{{ day1Lunch.name }}</h4>
          <p>{{ day1Lunch.description }}</p>
        </div>
      </div>
    </div>
  </div>
  

</div>
</html>
