
<div>
  <div id="map"></div>
  <div id="panels">
    <p id="place-name">{{ place.name }}</p>

    <img ng-src="{{ place.img }}"></img>

    <div id="description"><p>{{ place.description }}</p>
    </div>

    <div id="dislike" class="selector" ng-click="toggleDislike()"><center><span class="glyphicon glyphicon-remove"></center></span>
    </div>

    <div id="like" class="selector" ng-click="toggleLike()"><center><span class="glyphicon glyphicon-heart-empty"></center></span>
    </div>
    
  </div>
</div>
